<div class="form f c">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="top-bar f r">
      <%= render 'shared/back_button' %>
      <h2>Password Recovery</h2>
      <%= f.submit "Next", class: 'topbar-button' %>
    </div>
    <div class="inputs-container f c">
      <div class="registration inputs f c">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>
    </div>
  <% end %>
</div>
<div class="bottom-block f">
  <span>Not implemented yet</span>
  <%= render "devise/shared/error_messages", resource: resource %>
</div>