<p style="color: green"><%= notice %></p>

<%= render @category_spend %>

<div>
  <%= link_to "Edit this category spend", edit_category_spend_path(@category_spend) %> |
  <%= link_to "Back to category spends", category_spends_path %>

  <%= button_to "Destroy this category spend", @category_spend, method: :delete %>
</div>
